@media screen and (max-width:576px) {
    .banner, .habit-items, .run-content, .bmi{
        flex-direction: column;
    }
    /* common style */
      .btn-primary{
        padding: 16px 20px;
      }
    /* header part */
    .header-part{
        padding: 52px 20px 0 20px;
    }
    .nav-links{
        display: none;
    }
    .fa-bars{
        display: inline-block;
        font-size: 28px;
      }
    .banner-content{
        margin-right: 0;
      }
      .banner-title{
        font-weight: 900;
        /* modify it on my own */
        font-size: 3.25rem;
      }
      .banner-image-number{
        font-weight: 900;
        font-size: 1.8rem;
      }
      .banner-image-text{
        font-weight: 400;
        font-size: 10px;
      }
    .banner-img-text-one{
        bottom: 63px;
        left: -90px;
        margin-left: 12px;
      }
      .banner-img-text-two{
        right: 2px;
        bottom: 440px;
      }
    /* habit part */
    .habit-part{
        padding: 0 27px;
    }
    .habit-title-description{
        padding: 0 10px;
    }
    /* RUN PART */
    .run-part{
        padding:66px 20px;
    }
    .run-content{
        padding: 31px 33px 35px 33px;
    }
    .run-text{
        width: 100%;
    }
    .run-img{
        width: 100%;
    }
    .run-btn{
        justify-content: center;
    }
    .run-btn button{
        align-items: center;
        justify-content: center;
        padding: 16px 90px;
        margin-right: 0;
    }
    /* BMI */
    .calculator-text{
        padding: 30px 20px 30px 20px;
      }
    .bmi-check{
        width: auto;
        margin: 42px 20px;
    }
    .bmi-chart{
        margin: 34px 20px 0;
        width: auto;

    }
}