@media screen and (max-width:576px) {
    .banner, .habit-items, .run-content, .training-content, .bmi{
        flex-direction: column;
    }
    /* common style */
      .btn-primary{
        padding: 16px 20px;
      }
    /* header part */
    .header-part, .training-part{
        padding: 52px 20px 0 20px;
    }
    .nav-links{
        display: none;
    }
    .fa-bars{
        display: inline-block;
        font-size: 28px;
      }
    .banner-content{
        margin-right: 0;
      }
      .banner-title{
        font-weight: 900;
        font-size: 3.25rem;
      }
      .banner-image-number{
        font-weight: 900;
        font-size: 1.2rem;
      }
      .banner-image-text{
        font-weight: 400;
        font-size: 10px;
      }
    .banner-img-text-one{
        bottom: 219px;
        left: 25px;
        padding: 15px;
      }
      .banner-img-text-two{
        right: 18px;
        bottom: 440px;
        padding: 12px;
      }
    /* habit part */
    .habit-part{
        padding: 0 27px;
    }
    .habit-title-description{
        padding: 0 10px;
    }
    /* RUN PART */
    .run-part{
        padding:66px 20px;
    }
    .run-content{
        padding: 31px 33px 35px 33px;
    }
    .run-text{
        width: 100%;
    }
    .run-img{
        width: 100%;
    }
    .run-btn{
        justify-content: center;
    }
    .run-btn button{
        align-items: center;
        justify-content: center;
        padding: 16px 90px;
        margin-right: 0;
    }
    /* BMI */
    .bmi{
      display: grid;
      grid-template-columns: 1fr;
      padding: 34px 20px 43px;
    }
    .calculator-text{
        padding: 30px 20px 30px 20px;
      }
    .bmi-chart, .bmi-check{
       width: auto;
       overflow: hidden;
    }
    .form{
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }
    /* TEAM PART */
    .team-text{
      margin: 0 43px;
    }
    .team-members{
      grid-template-columns: 1fr;
      margin: 37px 20px 0;
    }
    /* FOOTER PART */
    .footer-text{
      padding: 0 20px;
    }
    .footer-text, .footer-right{
      display: grid;
      grid-template-columns: 1fr;
    }
    .footer-right{
      gap: 50px;
    }
    hr{
      margin: 72px 20px 0;
    }
}