@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* common styles */
.display-flex{
  display: flex;
}
.center{
  text-align: center;
}
.text-primary{
  color: rgba(255, 255, 255, 1);
}
.text-secondary{
  color: rgba(255, 255, 255, 0.5);
}
.orange{
  color: rgba(230, 83, 60, 1);
}
.orange-bg{
  background-color: rgba(230, 83, 60, 1);
}
.header-bg{
  background: linear-gradient(180deg, #111111 0%, rgba(42, 42, 42, 0.097) 100%), #111111 0%;
}
.section-bg{
  background: rgba(0, 0, 0, 1);
}
.calculator-bg, .run-bg{
  background-color: rgba(34, 34, 34, 1);
}
.team-members-bg{
  background-color: rgba(255, 255, 255, 0.1);
}
/* no need to use .text-primary class */
.title{
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 1);
}
.subtitle{
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
/* no need to use .text-secondary class */
.description{
  font-weight: 400;
  font-size: 14px;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.5);
}
/* universal selector */
*{
  margin: 0;
  padding: 0;
}
/* body-part */
/* ====================NEED TO BE UNDO AGAIN======================================== */
.body-part{
  max-width: 1440px;
  margin: 0 auto;
}
.habit-part, .run-part{
  padding-top: 100px;
}
.navbar, .banner, .habit-items, .run-content, .bmi, .team-members, .footer-part, .training-content,.training-heading{
  max-width: 1060px;
  margin: 0 auto;
}
/* header part starts here */
/* navbar content*/
.navbar{
  justify-content: space-between;
  align-items: center;
}
.fa-bars{
  display: none;
  font-size: 28px;
}
.fitness{
  font-weight: 800;
  font-style: italic;
  font-size: 2.25rem;
}
.nav-links{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-item{
  list-style-type: none;
  margin-right: 47px;
  padding: 8px 20px;
  border-radius: 46px;
}
.about{
  margin-right: 0;
}
.nav-item:hover{
  background-color: rgba(230, 83, 60, 1);
}
.nav-link{
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
}
/* banner content */
.banner{
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  margin-right: 85px;
  margin-top: 6rem;
  margin-bottom: 4.75rem;
}
.banner-title{
  font-weight: 900;
  font-size: 4.875rem;
}
.banner-description{
  margin-top: 1.75rem;
  /* just for optional aesthetic position */
  margin-right: 25px;
}
.banner-span{
  font-weight: 400;
}
.btn-primary{
  font-weight: 600;
  font-size: 1.125rem;
  padding: 16px 46.5px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 42px;
  margin-top: 1.9rem;
  margin-right: 14px;
}
.banner-btn{
  background-color: rgba(34, 34, 34, 1);
}
.btn-primary:hover{
  background-color: rgba(230, 83, 60, 1);
}
/* banner-image */
.banner-img-content{
  position: relative;
  margin-top: 2rem;
}
.banner-img-text-one,.banner-img-text-two{
  position: absolute;
}
.banner-img-text-one{
  bottom: 63px;
  left: -113px;
  align-items: center;
  padding: 20px 23px;
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.banner-image-number{
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(250, 250, 249, 1);
}
.banner-image-text{
  font-weight: 400;
  font-size: 13px;
  margin-top: 8px;
  color: rgba(239, 237, 232, 0.65);
}
.banner-img-text-two{
  right: -60px;
  bottom: 357px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px 23px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
/* main part */
/* habit part starts here */
.habit-title-description{
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.habit-items{
  gap: 40px;
}
.habit-item{
  margin-top: 58px;
}
.habit-item img{
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}
.habit-item .text{
  text-align: center;
}
.habit-item .img-text{
  padding-top: 30px;
}
/* run part */
.run-content{
  border-radius: 18px;
  justify-content: space-between;
}
.run-text{
  margin: 40px 54px 40px 54px;
  width: 40%;
  margin: 45px auto;
}
.run-img{
  align-items: center;
  margin: 30px 32px 30px 32px;
  width: 40%;
  margin: 30px auto;
}
.run-img img{
  border-radius: 18px;
  width: 100%;
}
/* TRAINING PART BEGINS HERE */
.training-part{
  padding-top: 88px;
}
.training-heading{
  /* border: 2px solid slateblue; */
  max-width: 670px;
  margin: 0 auto;
}
.training-content{
  gap: 15px;
  padding-top: 67px;
}
.training-info{
  padding: 10px 0;
}
.training-title{
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 2px 3px black;
}
.para{
  text-shadow: 2px 3px 2px black;
}
.training-left{
  border-radius: 18px;
  background-image: url(../images/exercise4.png);
  background-position: center;
  background-size: cover;
}
.training-middle{
  border-radius: 18px;
  background-image: url(../images/exercise3.png);
  background-position: center;
  background-size: cover;
}
.training-right{
  border-radius: 18px;
  background-image: url(../images/exercise2.png);
  background-position: center;
  background-size: cover;
}
/* ========================CALCULATOR PART ====================================*/
.calculator-text{
  padding-top: 88px;
  padding-bottom: 88px;
}
.calculator{
  max-width: 670px;
  margin: 0 auto;
}
/* =================================BMI=================================== */
.bmi{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 49px;
  padding-bottom: 52px;
  justify-content: space-between;
}
/* ===============================BMI-CHART============================ */
.bmi-title{
  font-weight: 900;
  font-size: 1.75rem;
}
.bmi-subtitle{
  font-weight: 500;
  font-size: 1rem;
}
table{
  border-collapse: collapse;
  margin-top: 52px;
}
td{
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* =============================BMI CHECK =================================*/
/* FORM */
.form{
  margin-top: 34px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
.box:last-child{
  grid-column-start: 1;
  grid-column-end: 3;
}
.box{
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
  border-radius: 12px 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
}
 /* team part */
 .team-part{
  padding-top: 88px;
 }
 .team-text{
  max-width: 670px;
  margin: 0 auto;
}
.team-members{
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 18px;
  margin-top: 58px;
}
.team-member{
  position: relative;
  overflow: hidden;
}
.team-img{
  border-radius: 18px;
  width: 100%;
  height: 100%;
}
.team-member .description{
  padding-top: 3px;
}
.team-info{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 16px 19px;
}
.trainer-name{
  font-weight: 900;
  font-size: 20px;
}
/* FOOTER PART */
.footer{
  background-color: rgba(34, 34, 34, 1);
}
.footer-part .footer-text .fitness{
 font-size: 4.375rem;
}
.footer-part{
}
.footer-text{
  padding: 66px 0;
  gap: 20px;
}
.footer-text, .footer-right{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-title{
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 19px;
}
.paragraph{
  gap: 20px;
}
.footer-description{
  font-size: 23px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 20px;
}
.footer-rights{
  font-weight: 400;
  font-size: 20px;
  padding: 35px 0;
}
